.Query {
  text-align: center;
}

.QueryWithResults {
  background-color: #fafafa;
  height: 15vh;
  margin-top: 0;
}

.query-container {
  position: relative;
  height: 5vh;
  width: 50vw;
  margin: 0 auto;
}

.Query button {
  margin-left: 5px;
  border-radius: 1px;
  box-shadow: 0;
  border-style: none;
  color: grey;
  margin: 4vh 1vw;
  height: 6vh;
  width: 15vw;
  background-color: #f8f8f8;
}

.QueryWithResults button {
  display: none;
}

.Query button:hover {
  border: 1px solid black;
  color: black;
  border-radius: 2px;
}

.Query input {
  width: 100%;
  height: 100%;
  padding: 5px 0 5px 12px; 
  border: .1px solid #ccc;
  box-shadow: 0px 4px 20px -8px rgba(0,0,0,0.75);
}

.Query input:hover {		 
  box-shadow: 0px 4px 40px -8px rgba(0,0,0,0.75);
  border: .1px solid grey;
}

.QueryWithResults input {
  position: absolute;
  left: 30px;
  width: 100%;
  height: 100%;
  padding: 5px 0 5px 12px; 
  border: .1px solid #ccc;
  box-shadow: 0px 4px 20px -8px rgba(0,0,0,0.75);
}

.QueryWithResults input:hover {		 
  box-shadow: 0px 4px 40px -8px rgba(0,0,0,0.75);
  border: .1px solid grey;
}


.QueryWithResults input{
  display: flex;
  margin: 3vh -15vw 0 -15vw;
  width: 45vw;
  max-height: 15vh;
  z-index: 1;
}


.autocomplete {
  position: absolute;
  top: 100%;
  list-style: none;
}

.Query ul {
  width: 100%;
  text-align: left;
  font-weight: bold;
  border: 1px solid #ccc;
  border-top: 0;
  margin-top: 11px;
  box-shadow: .5px 1px 18px #888888;
  padding-left: 0;
}

.QueryWithResults ul {
  width: 91.2%;
  background-color: white;
  text-align: left;
  font-weight: bold;
  border: 1px solid #ccc;
  border-top: 0;
  box-shadow: .5px 1px 18px #888888;
  margin: 33px 0 0 -12.8vw;
  padding-left: 0;
}

.Query li {
  background-color: white;
  padding-left: 8px;
}

.Query li:hover {
  background-color: #bbb;
}

.QueryWithResults li {
  background-color: white;
  padding-left: 8px; 
}

.QueryWithResults li:hover {
  background-color: #bbb;
}
